#btnLogin {
background: linear-gradient(90deg,rgba(65, 93, 105, 0.84) 0%, rgba(149, 138, 168, 1) 50%, rgba(227, 204, 224, 1) 100%);
}


@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}
